// bower:scss
// endbower
@import "_normalize";
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html{
  height:100%;
}
body {
  height:100%;
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333
}
#container{
  height:100%;
  background-color: #d02928;
}
.header{
  position: fixed;
  right: 0;
  left: 0;
  height: 56px;
  min-height: 50px;
  line-height:56px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-width: 0 0 1px;
  background-color: #d02928;
  border-color: #d03f3c;
  z-index: 100;
}
.setting{
  float:right;
  color:#fff;
  input{
    position: relative;
    width:100px;
    height:33px;
    margin: 9px 15px 0;
    border: 1px solid transparent;
    background-color: #d03f3c;
    color:#fff;
    text-align:center;
    border-radius: 5px;
    outline:0;
    transition: all 600ms cubic-bezier(.165, .84, .44, 1);
    &:focus{
      background-color: #fff;
      color:#d03f3c;
    }
  }
}
#timer{
  position:fixed;
  top:60px;
  right:0;
  width:100px;
  height:100px;
  line-height:100px;
  text-align: center;
  color:#fff;
  font-size:24px;
}
#main{
  position:absolute;
  top:0;
  right:0;
  bottom:10%;
  left:0;
  margin:auto;
  background-color: #d02928;
  overflow: hidden;
}
.btn{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  border-radius: 4px;
  line-height: 24px;
  margin: 9px 15px 0;
  font-size: 15px;
  color: #fff;
  background-color: #ea6f5a;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:focus{
    outline-color: #ffffff;
  }
}
#selectImage,#replay,#help,#originalPicture{
  float: right;
  width: 100px;
  height: 38px;
}
#replay,#help,#originalPicture{
  float:left;
}
.fragment{
  position:absolute;
  left:0;
  top:0;
  box-sizing:border-box;
  border:solid 1px #fff;
  overflow: hidden;
  z-index:99;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  img{
    position:absolute;
    left:0;
    top:0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
  }
  &:hover{
    transform:scale(1.05);
    z-index:100;
  }
}

.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}
@-webkit-keyframes shake {
  0%,100% {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
  }

  10%,30%,50%,70%,90% {
    -webkit-transform: translate3d(-5px,0,0);
    transform: translate3d(-5px,0,0)
  }

  20%,40%,60%,80% {
    -webkit-transform: translate3d(5px,0,0);
    transform: translate3d(5px,0,0)
  }
}

@keyframes shake {
  0%,100% {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
  }

  10%,30%,50%,70%,90% {
    -webkit-transform: translate3d(-5px,0,0);
    transform: translate3d(-5px,0,0)
  }

  20%,40%,60%,80% {
    -webkit-transform: translate3d(5px,0,0);
    transform: translate3d(5px,0,0)
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake
}

/*XPop*/
/*
.xpop{
  .xpop-content{
    border-color:transparent;
    .xpop-header,.xpop-footer,.xpop-body{
      background-color: #d02928;
    }
  }
}*/
#model-help{
  .xpop-body{
    ul{
      padding:0 20px;
      li{
        margin-bottom:10px;
      }
    }
  }
}
